**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
string="ahmed"
len(string)

5

In [5]:
string="ahmed"
c=0
for s in string:
    c=c+1
print (c)

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [24]:
str= (input())
if len(str) < 2:
    print ('')
else:
    print (str[0:2] + str[-2:])

ahmed
ahed

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [35]:
str= (input())
if len(str) > 3:
    
    
    if str[-3:]=="ing":
        str+="ly"
    
    else:
        str+="ing"
    
print (str)

ahmeding
ahmedingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [1]:
def longestword (a):
    max=len(a[0])
    long= a[0]
    
    for i in a:
        if(len(i) > max):
            max=len(i)
            long = i
    print("The word with the longest length is:",long,
          " and length is ", max)
    
a=["ahmed","ali","mohamed","karim"]         
longestword(a)

The word with the longest length is: mohamed  and length is  7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [6]:
str=(input())
x=list(str)
temp=x[0]
x[0]=x[-1]
x[-1]=temp
print("".join(x))

ahmed
dhmea

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [2]:
name="ahmed"
name[0::2]

'amd'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [3]:
string= "my name is ahmed i love my name very much"
words = string.split()
for i in words:
    print(i,string.count(i))

my 2
name 2
is 1
ahmed 1
i 2
love 1
my 2
name 2
very 1
much 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [10]:
str=(input("enter your string"))
print("upper case",str.upper())
print("lower case",str.lower())

enter your stringahmed
upper case AHMED
lower case ahmed

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [14]:
str=(input())
if len(str)%4 == 0 :
    print(str[::-1])
    
else:
    print(str)

medo
odem

**10- Write a Python program to remove a newline in Python

In [18]:
message="hi \n python \n"
print(message)
remove=message.replace("\n",'')
print(remove)

hi
 python

hi  python

**11-Write a Python program to check whether a string starts with specified characters

In [4]:
name=input()
ch='A'
if name.startswith(ch):
    print("yes")
else:
    print("no")

Ahmed
yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [6]:
name='''ahmed is strong
ahmed is programmer 
ahmed type python
'''
lines = name.splitlines()
for line in lines:
    print("Mr",line)

Mr ahmed is strong
Mr ahmed is programmer
Mr ahmed type python

**13-Write a Python program to print the following numbers up to 2 decimal places

In [9]:
number=2.548932
round(number,2)

2.55

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [10]:
number=-3.5748
round(number,2)

-3.57

**15-Write a Python program to display a number with a comma separator

In [11]:
number=23.58
newnumber=str(number)
newnumber.replace(".",",")

'23,58'

**16-Write a Python program to reverse a string using 2 ways

In [12]:
name="ahmed"
name[::-1]

'demha'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [15]:
name="ahmed mohsen"
ch=[]
for i in name:
    ch.append(i)
d=dict()
for i in ch:
    d[i]=name.count(i)
d

{'a': 1, 'h': 2, 'm': 2, 'e': 2, 'd': 1, ' ': 1, 'o': 1, 's': 1, 'n': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [16]:
name="aabbcceffgg"
for i in name:
    if name.count(i)==1:
        print(i)
        break

e

**19-Write a Python program to remove spaces from a given string

In [17]:
name="ahmed mohsen mostafa behairy"
name.replace(" ","")

'ahmedmohsenmostafabehairy'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [19]:
def number_of_substrings(str):
    str_len=len(str)
    return int(str_len * (str_len + 1) / 2 )
number_of_substrings("ahmed")

15

**21-write a Python program to swap first and last element of any list.

In [21]:
l=[ "ali", "Rhaff","Ahmed","nour"]
l[0],l[-1]=l[-1],l[0]
l

['nour', 'Rhaff', 'Ahmed', 'ali']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [22]:
l=[1,9,5,6]
pos1=int(input())
pos2=int(input())
l[pos1],l[pos2]=l[pos2],l[pos1]
l

1
2

[1, 5, 9, 6]

**23- search for the all ways to know the length of the list

In [25]:
l=[1,2,3,4]
print(len(l))
counter=0
for i in l:
    counter+=1
print(counter)

4
4

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [26]:
l=[12,59,47,63,47,11,21,369]
max(l)

369

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [27]:
l=[12,59,47,63,47,11,21,369]
min(l)

11

**26-search for if an elem is existing in list

In [ ]:
l=["omar", "mahomud", "ali"]
if l.count("ahmed")==0:
    print("not found")

**27- clear python list using different ways

In [29]:
l=[1,2,3,4,5,6]
l.clear()
l

[]

In [32]:
l=[1,2,3,4,5,6]
while len(l) !=0:
    l.pop()
l

[]

**28-remove duplicated elements from a list

In [33]:
l=[1,2,3,2,4,1,2,3,5,7,4]
l=set(l)
l=list(l)
l

[1, 2, 3, 4, 5, 7]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [2]:
test_list = ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]
 
key_list = ["name", "number"]
 
n = len(test_list)
res = []
for idx in range(0, n, 2):
    res.append({key_list[0]: test_list[idx], key_list[1] : test_list[idx + 1]})
 
# printing result
print("The constructed dictionary list : " + str(res))

The constructed dictionary list : [{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

**30-write a python program to count unique values inside a list using different ways

In [10]:
l=["ahmed","omar","ali","amr","ahmed","amr"]
count=len(set(l))
print(count)

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [15]:
test_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
K = 2
res = []
for i in test_list:
    freq = test_list.count(i)
    if freq > K and i not in res:
        res.append(i)
print(str(res))

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [3]:
l=[1,2,2,3,4,5]
a=[]
for i in range(1,len(l)):
    r =max(l[i],l[i-1])
    a.append(r)
    
print(a)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [16]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
d=[]
d.append(a)
d.append(b)
d.append(c)
for i in range(0,3):
    for j in range(0,3):
        for k in range(0,3):
            if(i!=j&j!=k&k!=i):
                print(d[i],d[j],d[k])

Enter first number:1
Enter second number:2
Enter third number:3
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [20]:
x=[ 1, 1 ,2 ,3 ,4 ,5 ,1 ,2, 1]
x[:] = (value for value in x if value != 1)
x

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [5]:
test_list1 = ['Gfg', 'is', 'best']
test_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
print("The original list 1 is : " + str(test_list1))
print("The original list 2 is : " + str(test_list2))
res = [test_list1[idx] for idx in test_list2]
print ("The lists after index elements replacements is : " + str(res))

The original list 1 is : ['Gfg', 'is', 'best']
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
The lists after index elements replacements is : ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [4]:
myDict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
 
myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}
 
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [6]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
print("The original dictionary is : " + str(test_dict))
K = 6
res = {}
for key in test_dict:
    if not (isinstance(test_dict[key], int) and test_dict[key] > K):
        res[key] = test_dict[key]
print("The constructed dictionary : " + str(res))

The original dictionary is : {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
The constructed dictionary : {'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [9]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3):
    dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [8]:
d = {'Red': 1, 'Green': 2, 'Blue': 3} 
for color_key, value in d.items():
     print(color_key, 'corresponds to ', d[color_key])

Red corresponds to  1
Green corresponds to  2
Blue corresponds to  3

**44- Write a Python script to merge two Python dictionaries

In [7]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [6]:
dict1={'x' : 20 , 'y' : 30 , 'z': 40 }
max(dict1)

'z'

In [5]:
dict1={'x' : 20 , 'y' : 30 , 'z': 40 }
min(dict1)

'x'

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [2]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [1]:
t=(1,2,3,4,5)
print(t[2])

3

**48-Write a Python program to unpack a tuple into several variables

In [29]:
t=(1,2,3)
n1,n2,n3=t
print(n1)
print(n2)
print(n3)
print(n1+n2+n3)

1
2
3
6

**49-Write a Python program to add an item to a tuple

In [27]:
t=(1,2,3,4)
t=t+(5,)
print(t)

(1, 2, 3, 4, 5)

**50-Write a Python program to convert a tuple to a string

In [26]:
t=('a','h','m','e','d')
str=''.join(t)
print(str)

ahmed

**51-Write a Python program to convert a list to a tuple

In [22]:
s=[1,2,3,4]
mytuple=tuple(s)
print(mytuple)

(1, 2, 3, 4)

**52-Write a Python program to reverse a tuple

In [21]:
x=("ahmed")
y=reversed(x)
print(tuple(y))

('d', 'e', 'm', 'h', 'a')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [17]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [16]:
test_str = "1, -5, 4, 6, 7"
res = tuple(map(int, test_str.split(', ')))
print(str(res))

(1, -5, 4, 6, 7)

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [2]:
t=(10,20,30,40)
print(sum(t)/len(t))

25.0

**56-Write a Python program to add member(s) to a set.

In [18]:
s={"ahmed","mohamed","ali"}
s.add("amr")
s

{'ahmed', 'ali', 'amr', 'mohamed'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [32]:
s={1,2,3,4}
s.discard(3)
s

{1, 2, 4}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [33]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};

print("Union :", A | B)
  
print("Intersection :", A & B)
  
print("Difference :", A - B)
  
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [6]:
s={1,5,9,3,4,10}
max(s)

10

In [25]:
s={1,5,9,3,4,10}
min(s)

1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [24]:
lst = [1, 5, 3, 7, 9]
K = 10
def findPairs(lst, K):
    res = []
    while lst:
        num = lst.pop()
        diff = K - num
        if diff in lst:
            res.append((diff, num))
         
    res.reverse()
    return res
print(findPairs(lst, K))

[(3, 7), (1, 9)]