In [1]:
import pandas as pd

In [2]:
df_weather = pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017'],
    'temperature': [32,-120,28,27],
   
})
df_weather

        day  temperature
0  1/1/2017           32
1  1/2/2017         -120
2  1/3/2017           28
3  1/4/2017           27

In [3]:
new_df=df_weather.replace(-120,value=30)
new_df

        day  temperature
0  1/1/2017           32
1  1/2/2017           30
2  1/3/2017           28
3  1/4/2017           27