In [1]:
import pandas as pd

In [2]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
}, index=[4,5,2])
temperature_df

       city  temperature
4    mumbai           32
5     delhi           45
2  banglore           30

In [3]:
temperature_df.sort_index(axis=0)

       city  temperature
2  banglore           30
4    mumbai           32
5     delhi           45