In [4]:
import pandas as pd 
import numpy as np

In [5]:
df=pd.DataFrame({
    'name':['ahmed','omar','Ali'],
    'age':[20,32,27]
})
df

    name  age
0  ahmed   20
1   omar   32
2    Ali   27

In [9]:
new_df=df.replace("ahmed",value="amr")
new_df

   name  age
0   amr   20
1  omar   32
2   Ali   27