In [1]:
import pandas as pd

In [2]:
data= {'name':['ahmed','mohamed','omar'],
     'age':[10,15,21],
     'adress':['cairo','alex','fayum']
    
}
df=pd.DataFrame(data)
df

      name  age adress
0    ahmed   10  cairo
1  mohamed   15   alex
2     omar   21  fayum

In [5]:
df.sample()

   name  age adress
2  omar   21  fayum